* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: #ebebf7;
}

section {
    margin-top: 20px;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(27, 96, 233);
}

.hero img {
    width: 100%;
    margin-top: 20px;
    height: 700px;
}

#about {
    background-color: rgb(167, 230, 230);
}

.about {
    padding: 20px;
}

#services {
    background-color: beige;
}

.services {
    padding: 20px;
}

#gallery {
    background-color: rgb(209, 236, 182);
}

.gallery {
    padding: 20px;
}

#review {
    background-color: rgb(219, 204, 204);
}

.review {
    padding: 20px;
}

#contact {
    background-color: rgb(220, 202, 236);
}

.contact { 
    padding: 20px;
}

.con-us {
    padding: 20px;
}

#thankyou {
    background-color: rgb(219, 238, 191);
}

.thankyou {
    padding: 20px;
}

#footer {
    background-color: rgb(235, 227, 216);
    margin-top: 25px;
    text-align: center;
}

#footer .footer ul li a {
    text-decoration: none;
}

.footer {
    padding: 20px;
}

.footer-widget span {
    text-transform: uppercase;
    color: rgb(243, 20, 124);
}