<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <main>
        <section>
            <div>
                <h4>About Us</h4>
                <p>People want to know what your business does and how it can help them. After all, if people can't figure out what you do, how will they know they need your product or service?</p>
            </div>
        </section>
        <p>Go back to<a href="../../index.html">Home page</a></p>
    </main>
</body>
</html>