<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Gallery</title>
</head>
<body>
    <main>
        <div>
            <h4>Here are our success Story</h4>
        </div>
        <div>
            <img src="../media/images/pp.image-1.jpg" alt="Gallery-01" width="500">
            <img src="../media/images/pp.image-2.jpg" alt="Gallery-02" width="500">
            <img src="../media/images/pp.image-3.jpg" alt="Gallery-03" width="500">
            <img src="../media/images/pp.image-4.jpg" alt="Gallery-04" width="500">
            <img src="../media/images/pp.image-5.jpg" alt="Gallery-05" width="500">
            <img src="../media/images/pp.image-6.jpg" alt="Gallery-06" width="500">
        </div>
        <p>Go back to<a href="../../index.html">Home page</a></p>
    </main>
</body>
</html>