<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonials</title>
</head>
<body>
    <main>
        <div>
            <h3>Our Testimonials</h3>
            <p>It is our pride that we have lots of testimonials</p>
        </div>
        <div>
            <img src="../media/images/rt.image-1.jpg" alt="testimonial-1" width="450">
            <img src="../media/images/rt.image-2.jpg" alt="testimonial-2" width="400">
            <img src="../media/images/rt.image-3.jpg" alt="testimonial-3" width="450">
        </div>
        <p>Go back to<a href="../../index.html">Home page</a></p>
    </main>
</body>
</html>